body {
    font-family: Tahoma, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0px ;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .gallery img:hover {
    transform: scale(1.05);
  }
  
  /* النافذة العائمة */
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80vh;
    border-radius: 10px;
  }
  
  /* زر الإغلاق */
  .close, .download {
    position: fixed;
    top: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 15px;
    border-radius: 50%;
    z-index: 1000;
  }
  
  .close {
    right: 20px;
  }
  
  .download {
    right: 70px;
    text-decoration: none;
  }
  